</main>
<footer class="footer">
	<div class="container">
		<a class="logo" href="/dashboard">
			<img src="/images/logo.png">
		</a>
		<div class="copyright">
			Design by  <a href="https://www.facebook.com/huy.17.04.1996" target="_blank"> Nguyễn Văn Huy</a>
		</div>
	</div>
</footer>
<script type="text/javascript" src="/js/bootbox.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>