<% include template-parts/header %>
<div class="page-login">
	<div class="bg"></div>
	<div class="box-login">
			<!-- <div class="logo">
				<img src="/images/logo.png">
			</div> -->
		<h1 class="title">SIGN UP</h1>
		<h3 class="detail text-center alert alert-success">SIGN UP SUCCESS</h3>
		<div class="more-info">
			<div class="text-left">
				<a href="/login"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Sign In</a>
			</div>
		</div>
	</div>
</div>
<% include template-parts/footer %>
